final project website
wordpress ok
theme- modify
wireframe
planning phase
use show off what you can do
google front end developer 
portfolio
query plug in 
jquery animation
ajax
wirefame
add other items that we have done
node
starter theme
foundation
design own theme
bootstrap



why do you want to do this?
ghost blogging platform in node
ambitious good
research on the onset


Dreamweaver, Joomla, Wordpress
video embed in background
scroll magic
codepen.io video
html5
use  static images in case of older brewers
web format
mp4 
use both
position fixe
width 100
docker
agile vs waterfall
build on top of it 
agile

