<!DOCTYPE html>
<html>
<head>
    <title>DICE, DICE BABY</title>
    <% include ../partials/head %>
</head>
<body>
    
<h1>Your rolled! Here's your results!
        </h1>
        <h2>Your number is: <%= rolledNumber %>
        </h2>

<p>Some word goes here!
</p>
    
    <footer>

    </footer>
</body>
</html>
