<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="classic.css" type="text/css">
        <title>Classic Layouts
        </title>
            <style media="screen">
            </style>
    </head>
    <body>
        <div class="header">header
        </div>
        <div class="content clearfix">
            
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">Link1</a>
                </li>
                <li>
                    <a href="#">Link2</a>
                </li>
                <li>
                    <a href="#">Link3</a>
                </li>
                <li>
                    <a href="#">Link4</a>
                </li>
            </ul>
            </div>

        <div class="main">
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            </div>
        <div class="ads">
            ads
            </div>
        </div>
        <div class="footer">
            footer
            <p>vfhvefhvwldkjclkdjclksjdCKjsdcksdKCAKDS.CN.KASDNC.
                DM.WKEDNWEKQNFWNCNWDCNWD.CN.WN.ndscn.sancxnsdaCND
            </p>
            <p>
            copyright (c)</p>
        </div>
    </body>
</html>